<!DOCTYPE html>
<html>
<head>
  <title>Huanhao</title>
  <%= stylesheet_link_tag :all %>
  <link rel="stylesheet" href="/stylesheets/jquery.ui.base.css" type="text/css" />
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
